<div class="panel panel-default">
  <div class="panel-heading">Editing Store</div>
  <div class="panel-body">
    <%= render 'form' %>
    <div class="btn-wrap">
      <%= link_to 'Back', stores_path, class: "btn btn-primary" %>
      <%= link_to 'Show', @store, class: "btn btn-warning mg-left10" %>
    </div>
  </div>
</div>
