<% if notice.present? %>
  <p class="alert alert-info"><%= notice %></p>
<% end %>
<div class="panel panel-default">
  <div class="panel-heading">&nbsp;</div>
  <div class="panel-body">
    <div class="btn-wrap">
      <%= link_to 'Back', stores_path, class: "btn btn-primary" %>
      <%= link_to edit_store_path(@store), class: "btn btn-success mg-left-10" do %>
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit
      <% end %>
    </div>
  </div>
</div>
