<div class="panel panel-default">
  <div class="panel-heading">Editing Branch Manager</div>
  <div class="panel-body">
    <%= simple_form_for(@branch_manager, url: branch_manager_path(@branch_manager), method: :put) do |f| %>
      <%= render 'form', f: f %>
    <% end %>
    <div class="btn-wrap">
      <%= link_to 'Back', branch_managers_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>
